/* Login.scss */

.login-container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #f0f0f0;

  p {
    font-family: 'dm-sans', sans-serif
  }

  .auth {
    display: flex;
    width: 20vw;
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    h1 {
      font-size: 30px;
      font-family: 'Fraunces', sans-serif;
      color: #333;
    }


    .login-form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 20vw;
      min-width: 300px;

      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        color: #333;
        background-color: #f9f9f9;

        &:focus {
          border-color: #666;
          outline: none;
          background-color: #fff;
        }
      }

      p {
        color: red;
        text-align: center;
      }
    }

    button {
      padding: 12px;
      width: 100%;
      border: none;
      border-radius: 5px;
      background-color: #333;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #555;
      }
    }

    a {
      font-family: 'dm-sans', sans-serif
    }
  }
}