.post {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
  font-family: 'Fraunces', sans-serif;


  .post:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .img {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-bottom: 1px solid var(--border-color);
    }
  }

  .content {
    padding: 15px;

    .link {
      text-decoration: none;
    }

    h1 {
      font-size: 18px;
      color: var(--text-color);
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      color: var(--text-color);
      margin-bottom: 15px;
    }

    button {
      font-family: 'Fraunces', sans-serif;
      padding: 10px 15px;
      background-color: var(--accent-color);
      color: #ffffff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: var(--hover-color-accent);
    }
  }
}