/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 
/* Importing Roboto */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* Importing Dm Sans */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
/* Importing Fraunces */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Importing "Space Mono" */

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
/* Importing "source-serif-4"*/

/* Colors */

:root {
  /* Achromatic Colors */
  --background-color: #f0f0f0;   /* Light Gray */
  --text-color: #333333;         /* Dark Gray */
  --heading-color: #000000;      /* Black */
  --border-color:  #cccccc;       /* Light Border Gray */
  --link-color: #777777;         /* Medium Gray for links */
  
  /* Contrast Color */
  --accent-color: #cc0000;       /* Bright Red-Orange */
  
  /* Hover Colors */
  --hover-color-accent: #990000; /* Coral - for hover effects on accent color */
  --hover-color-achromatic: #555555; /* Slightly darker gray for hover effects on achromatic elements */

  /* Fonts */
  --heading-font: 'Georgia', serif;
  --body-font: 'Arial', sans-serif;
}
