node_modules/
node_modules


# Dependencies
node_modules/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Ignore user-uploaded content
public/uploads/

# Environment variables file (if you use one later)
# .env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# Build output (if you have a build step for your API)
# dist/
# build/